.faqQuestion {
  font-weight: bold;
  padding-bottom: 0.5rem;
  font-size: larger;
}

.faqAnswer {
  display: none;
}
.faqQuestion:hover + .faqAnswer {
  display: block;
  font-weight: bold;
  padding-bottom: 0.5rem;
  font-size: larger;
}
.faqQuestion:hover {
  display: block;
  font-weight: normal;
  padding-bottom: 0.5rem;
}
