.Body {
  border: 2px solid black;
  margin: 10px;
}
#star {
  width: 20px;
  height: 20px;
}
hr {
  width: 200px;
  margin-top: -20px;
}
.left {
  width: 50vw;
  height: 60vh;
  background-color: #0854fc;
  border: white solid;
  display: flex;
  align-items: center;
  justify-content: center;
}
