.middle {
  display: flex;
}

.allQuestionsButton {
  color: white;
  background-color: #0085ff;
  border: none;
  cursor: pointer;
  width: 60vw;
  margin: 2rem;
  margin-top: 0rem;
  padding: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questions {
  display: flex;
  justify-content: space-evenly;
  height: fit-content;
}
.policeLogo {
  width: 20vw;
  height: auto;
  margin: 2rem;
}
