.middle {
  display: flex;
}

.allQuestionsButton {
  color: white;
  background-color: #0085ff;
  border: none;
  cursor: pointer;
  padding: 2rem;
  width: 60vw;
  margin: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.questionCards {
  display: flex;
  justify-content: space-between;
}
.policeLogo {
  width: 30vw;
  height: auto;
  margin: 2rem;
}
